
<link rel="stylesheet" href="/css/style.css">

<div id="f-info" style="margin-left: -70px; margin-right: -70px;" class="stickt-bottom">
    <div id="f-special-links" class="d-flex justify-content-center" style="padding-top: 20px;">
        <a href="#" class="fa-brands fa-instagram"></a>
        <a href="#" class="fa-brands fa-square-facebook"></a>
        <a href="#" class="fa-brands fa-square-twitter"></a>

    </div> <br>
    <div id="f-copyright" class="d-flex justify-content-center">
        <i class="fa-regular fa-copyright"></i>
        2024 Airbnb, Inc.

    </div>
    <div id="f-terms" >
        <a href="#">Privacy</a> .
        <a href="#">Terms</a>.
        <a href="#">Sitemap</a>.
        <a href="#">Company Details</a>

    </div>
</div>